* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This sets the body's background color to be white */
body {
    background-color: #d9dcd6;
}

/* This properly pads the header, sets font, background color, and text color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This targets the h1 within the parent header to be inline-block, have a larger font size, and sets the text color  */
header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* This targets the div elements within the parent header to have padding, margins, float towards the right, have a different array of fonts, along with a smaller font size*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This element targets the li elements within the header ancestor to have proper margin and display */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This element targets all a selectors to have a white color and no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This element targets all p selectors to have 16px font */
p {
    font-size: 16px;
}

/* This element targets the main photo, describes size/placement, and links the image to the selector*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This class selector makes images float left with a 25px margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This class selector makes images float right with a 25px margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This class selector targets the main blocks and specifies the block width, block styling, and margins */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This element targets the "benefits" class selector to add spcaing/sizing values to all three segments*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated individual benefits image segments because they all are within the same category and have the same values */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated individusal benefit text segments because they were all applied the same values */
.benefit-info {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated all the h3 elements because they all have the same values */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated the individual categories into a "navigation" class to clean up the code because they have the same values */
.navigation {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated the individual image class selectors becuas they all had the same max-height values */
.navigation img {
    max-height: 200px;
}

/* Consolidated individual segments into the content class selector that targets each h2 margin and font size */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This element dictates the sizing, font, and spacing of the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This element targets the h2 withing the footer and makes it slightly bigger */
.footer h2 {
    font-size: 20px;
}
